<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>Proin blandit, enim vitae egestas posuere, neque elit ultricies dui, vel mattis nibh enim ac lorem. Maecenas molestie nisl sit amet velit dictum lobortis. Aliquam erat volutpat.</p>

            {{#each groups}}
                <div class='uit-group uit-group--{{ handlise @key }}'>
                    <h2 class='uit-group__subhead'>
                        <span class='uit-group__subhead__inner'>{{ @key }}</span>
                    </h2>
                    <div class='uit-people'>
                        {{#each people}}
                            <div class='uit-person'>
                                <div class='uit-person__thumbnail'>
                                    <div class='uit-person__image-wrapper'>
                                        <img class='uit-person__image' src='{{ path }}/assets/paul-manafort.png' />
                                    </div>
                                    <h3 class='uit-person__name'>{{ name }}</h3>
                                    <h3 class='uit-person__position'>{{ position }}</h3>
                                </div>
                                <div class='uit-person__card'>
                                    {{{ marked description }}}
                                    {{#if next}}
                                    <p><strong>What happens next?</strong><br />{{ next }}</p>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
