<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/25/robert-mueller-donald-trump-russia-investigation'>
                    <img class='uit-related__image' src='https://i.guim.co.uk/img/media/f0da0743d13746897496173f9fd9bdf3dfc6f63f/1836_0_8328_5000/master/8328.jpg?width=1125&quality=85&auto=format&fit=max&s=f12114c57ef0018d5ab609928e0b29eb' />
                    <div class='uit-related__headline'>'He has moved incredibly quickly': Mueller nears Trump endgame</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/23/robert-mueller-profile-donald-trump-russia-investigation'>
                    <img class='uit-related__image' src='https://i.guim.co.uk/img/media/f9e0061d3aa967653ff1b88d34b089a554867954/0_368_5517_3310/master/5517.jpg?width=645&quality=85&auto=format&fit=max&s=b4fdb2e29d4bc117d3bc5198bc0b5254' />
                    <div class='uit-related__headline'>'America's straightest arrow': Robert Mueller silent as urgency mounts</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/commentisfree/2018/dec/04/donald-trump-russia-robert-mueller-legal-trouble'>
                    <img class='uit-related__image' src='https://i.guim.co.uk/img/media/a907cf65eb03cbd109f90d22dc88e7355404d7c5/0_21_4437_2663/master/4437.jpg?width=620&quality=85&auto=format&fit=max&s=37000f29f7397381e2945bea9b230e7c' />
                    <div class='uit-related__headline'>Trump's countless scams are finally catching up to him – Rebecca Solnit</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/dec/04/michael-flynn-sentence-mueller-trump-russia-investigation-latest'>
                    <img class='uit-related__image' src='https://i.guim.co.uk/img/media/39256e441ec14bee680d3451efcd62372df77220/0_167_3500_2101/master/3500.jpg?width=620&quality=85&auto=format&fit=max&s=8ec9c1b11e1d587e39087952afa66d15' />
                    <div class='uit-related__headline'>Michael Flynn: Mueller recommends no prison time for ex-Trump adviser</div>
                </a>
            </div>
        </div>
    </div>
</div>
